.screen-container {
  background-color: #fb6b6b;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 200px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 40px 0 20px 0;
}

.logo-container img {
  width: 52px;
}

.logo-container h1 {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  margin-left: 20px;
}

.footer-concluidos {
  width: 100%;
  min-height: 50px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Recursive";
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  padding: 10px;
}

.footer-concluidos > .container-botoes {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 20px;
}

/* Você vai precisar trocar a cor dos botões e alguns textos!
  VERDE = "#2FBE34"
  AMARELO = "#FF922E"
  VERMELHO = "#FF3030"
  CINZA = "#333333" 
*/

.container-botoes > button {
  width: 90px;
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.pergunta-fechada {
  width: 300px;
  height: 35px;
  background-color: #ffffff;
  margin: 12px;
  padding: 15px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pergunta-fechada > p {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.pergunta-fechada img, .pergunta-aberta img, button{
  cursor: pointer;
}

.pergunta-aberta {
  margin: 12px;
  min-height: 131px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pergunta-aberta > img {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.face {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #FFFFD5;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.face p {
  padding: 10px;
}
.front-face img{
  position: absolute;
  right: 14px;
  bottom: 5px;
}

.back-face {
  transform: rotateY(180deg);
}

.girar .back-face {
  transform: rotateY(0deg);
}

.girar .front-face {
  transform: rotateY(-180deg);
}
